<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> コモンズ文庫 </title>
    <meta http-equiv="Content-Script-type" content="text/javascript">
    <meta http-equiv="Content-Stype-type" content="text/css">
    <link rel="stylesheet" href="files/board.css" type="text/css">
    <script src="files/jquery.js"></script>
    <script src="files/board.js"></script>
  </head>
  <body>
    <header id="board_header">
      <h1><a href="{{$marty.const.SITE_URL}}"> コモンズ文庫 </a></h1>
      <h5> 本サイトで使用している画像は<a href="http://commons.nicovideo.jp/">ニコニ・コモンズ</a>より利用可能なもののみ拝借しております．製作者の皆様にお礼申し上げます．</h5>
    </header>
    <div id="wrapper_all">
      <div id="guns_form">
	<form action="index.php" method="POST" id="guns">
	  <p>タイトル: <input type="text" name="title" id="form_title" /></p>
	  <p><textarea rows="4" cols="40" name="text" id="form_text"></textarea></p>
	  <p><input type="hidden" name="thread" id="form_thread" /></p>
	  <p><input type="submit" name="submit" id="form_submit" /></p>
	</form>
      </div> <!-- guns_form -->
      <div id="button_area">
	<nav>
	  <ul>
	    <li>新しいスレッド</li>
	    <li>コメントをつける</li>
	    <li>検索する</li>
	  </ul>
	</nav>
      </div> <!-- button_area -->
      <div id="thread_tree">
{{if $thread_index}}
	<article class="thread_box" id="{{$thread_index}}">
	  <header class="thread_title"><h3>{{$thread_title}}</h3></header>
	  {{foreach from=$resary item=res}}
          <section class="res_box">
            <header class="res_header">
	      <p class="res_author">{{$res.res_author}}</p><p class="res_date">2012/ 3/ 10 -12:22:23</p>
	    </header>
            <p class="res_contents">{{$res.res_contents|nl2br|auto_link}}</p>
	  </section>
	  {{/foreach}}
	  <section class="res_box res_form">
	    <textarea rows="4" cols="40"></textarea>
	    <input type="submit" value="送信" />
	  </section>
	</article>
{{else}}
{{foreach from=$dataary item=book}}
	<article class="thread_book" id="{{$book.thread_id}}">
	  <header class="thread_title2"><h3>{{$book.thread_title|escape}}</h3></header>
	  {{if $book.res[0] }}
	  <section class="res_box2">
	    <div class="res_baloon">{{$book.res[0].res_contents}}</div>
	    <div class="res_icon"><img src="files/icon_{{$book.res[0].res_icon}}.png" /></div>
	  </section>
	  {{/if}}
	  {{if $book.res[1] }}
	  <section class="res_box{{3|rand:5}}">
	    <div class="res_baloon">{{$book.res[1].res_contents}}</div>
	    <div class="res_icon"><img src="files/icon_{{$book.res[1].res_icon}}.png" /></div>
	  </section>
	  {{/if}}
	  {{if $book.res[2] }}
	  <section class="res_box{{3|rand:5}}">
	    <div class="res_baloon">{{$book.res[2].res_contents}}</div>
	    <div class="res_icon"><img src="files/icon_{{$book.res[2].res_icon}}.png" /></div>
	  </section>
	  {{/if}}
	  <nav class="read_more"><a href="{{$marty.const.SITE_URL}}index.php?thread={{$book.thread_id}}">続きを読む</a></nav>
	</article>
{{/foreach}}
{{/if}}
      </div> <!-- thread_tree -->
    </div> <!-- wapper_all -->
    <footer id="board_footer">
      <p> Copyright&copy; 2012 S.TANAKA (DWANGO Co.,Ltd.) All right received.</p>
    </footer>
  </body>
</html>
