<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> クッションページ </title>
    <meta http-equiv="Content-Script-type" content="text/javascript">
    <meta http-equiv="Content-Stype-type" content="text/css">
    <link rel="stylesheet" href="files/cushion.css" type="text/css">
  </head>
  <body>
    <h3>警告</h3>
    <a href="{{$url}}" >{{$url}}</a>は外部サイトです。悪意のあるサイトの恐れもあります。
信用できる場合のみクリックしてください。
    <footer id="board_footer">
      <p> Copyright&copy; 2012 S.TANAKA (DWANGO Co.,Ltd.) All right received.</p>
    </footer>
  </body>
</html>
