<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> コモンズ文庫 </title>
    <meta http-equiv="Content-Script-type" content="text/javascript">
    <meta http-equiv="Content-Stype-type" content="text/css">
    <link rel="stylesheet" href="files/board.css" type="text/css">
    <script src="files/jquery.js"></script>
    <script src="files/board.js"></script>
  </head>
  <body>
    <header id="board_header">
      <h1><a href="http://{{$smarty.server.HTTP_HOST|escape}}/"> コモンズ文庫 </a></h1>
      <h5> 本サイトで使用している画像は<a href="http://commons.nicovideo.jp/">ニコニ・コモンズ</a>より利用可能なもののみ拝借しております．製作者の皆様にお礼申し上げます．</h5>
    </header>
