{{assign var='search_index' value=$smarty.server.SCRIPT_NAME|strrpos:'/'}}
{{assign var='path' value=$smarty.server.SCRIPT_NAME|substr:0:$search_index|escape}}
 <div id="button_area">
	<nav>
	  <ul>
	    <li id="btn_newthread">
	      <!--<a href="http://{{$smarty.server.HTTP_HOST|escape}}/index.php?cmd=100">新しいスレッド</a>-->
	      <a href="http://{{$smarty.server.HTTP_HOST|escape}}{{$path}}/new">新しいスレッド</a>
	    </li>
	    <li id="btn_list">
	      <a href="http://{{$smarty.server.HTTP_HOST|escape}}}{{$path}}/">スレッド一覧</a>
	    </li>
	    <!--<li id="btn_search">検索する</li>-->
	  </ul>
	</nav>
      </div> <!-- button_area -->
